<form [formGroup]="subCategoryAddForm" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>Create New Sub Category under Main Category: {{ data._mainCategoryName }}</h2>
  <mat-dialog-content>
    <div class="form-group label-floating col-md-6">
      <label class="control-label" for="_mainCategoryName">Main Category
        <span class="star">*</span>
      </label>
      <div class="form-group">
        <input disabled formControlName="_mainCategoryName" class="form-control" type="text" id="_mainCategoryName" placeholder="">
      </div>
    </div>
    <div class="form-group label-floating col-md-6">
      <label class="control-label" for="name">Name
        <span class="star">*</span>
      </label>
      <div class="form-group">
        <input formControlName="name" class="form-control" type="text" id="name" placeholder="Name">
      </div>
    </div>
    <div class="form-group label-floating col-md-12">
      <label class="control-label" for="name">Description
        <span class="star">*</span>
      </label>
      <div class="form-group">
        <input formControlName="description" class="form-control" type="text" id="description" placeholder="Description">
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="button" mat-dialog-close>Cancel</button>
    <!-- Can optionally provide a result for the closing dialog. -->
    <button mat-button type="submit">Submit</button>
  </mat-dialog-actions>
</form>