<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card content">
            <div *ngIf="(selectedHost | async)" class="row">
              <form [formGroup]="registerForm">
                <h3>Host Details</h3>
                <div class="col-md-6">
                  <div class="form-group">
                    <p for="hostName">host Name</p>
                    <input disabled formControlName="hostName" type="text" class="form-control" id="hostName" placeholder="Name of host">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <p for="email">Email</p>
                    <input disabled formControlName="email" type="text" class="form-control" id="email" placeholder="youremail@domain.com">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <p for="username">Username</p>
                    <input disabled formControlName="username" type="text" class="form-control" id="username" placeholder="Username">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <p for="nickName">Nick Name (optional)</p>
                    <input formControlName="nickName" type="text" class="form-control" id="nickName" placeholder="Nick name (optional)">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <p for="address">Address</p>
                    <input formControlName="address" type="text" class="form-control" id="address" placeholder="Address">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <p for="city">City</p>
                    <input formControlName="city" type="text" class="form-control" id="city" placeholder="City">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <p for="postalCode">Postal Code</p>
                    <input formControlName="postalCode" type="text" class="form-control" id="postalCode" placeholder="Postal Code">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <p for="long">Longitude</p>
                    <input formControlName="long" type="text" class="form-control" id="long" placeholder="Longitude">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <p for="lat">Latitude</p>
                    <input formControlName="lat" type="text" class="form-control" id="lat" placeholder="Latitude">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <button (click)="goToList()" class="btn btn-warning">Go To List</button>
                    <button class="btn btn-info" (click)="onSubmit()">Save</button>
                  </div>
                </div>
              </form>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>