<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div *appspinner="!hostData || isLoading" class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="rose">
            <i class="material-icons">perm_identity</i>
          </div>
          <div *ngIf="hostData" class="card-content">
            <h4 class="card-title">Edit Profile - <small class="category">Complete your profile</small></h4>

            <form [formGroup]="hostDetailForm" (change)="setToDirty()">
                <div *ngIf="errorText || successText">
                    <div *ngIf="errorText" class="alert alert-danger" role="alert">
                        <strong>Error!</strong> {{errorText}}
                    </div>
                    <div *ngIf="successText" class="alert alert-success" role="alert">
                        <strong>Success!</strong> {{successText}}
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person_outline</i>
                        </span>
                        <div class="form-group label-floating">
                            <label class="control-label">Host Name</label>
                            <input formControlName="hostName" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-group label-floating">
                            <label class="control-label">Email</label>
                            <input formControlName="email" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">info_outline</i>
                        </span>
                        <div class="form-group label-floating">
                            <label class="control-label">Design Type</label>
                            <input formControlName="design" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">info_outline</i>
                        </span>
                        <div class="form-group label-floating">
                            <label class="control-label">House Number</label>
                            <input formControlName="houseNumber" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">info_outline</i>
                        </span>
                        <div class="form-group label-floating">
                            <label class="control-label">Street</label>
                            <input formControlName="streetName" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">info_outline</i>
                        </span>
                        <div class="form-group label-floating">
                            <label class="control-label">City</label>
                            <input formControlName="city" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">info_outline</i>
                        </span>
                        <div class="form-group label-floating">
                            <label class="control-label">State</label>
                            <input formControlName="state" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">info_outline</i>
                        </span>
                        <div class="form-group label-floating">
                            <label class="control-label">Country</label>
                            <input formControlName="country" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">info_outline</i>
                        </span>
                        <div class="form-group label-floating">
                            <label class="control-label">Postal Code</label>
                            <input formControlName="postalCode" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">info_outline</i>
                        </span>
                        <div class="form-group label-floating">
                            <label class="control-label">Phone Number</label>
                            <input formControlName="phoneNumber" type="text" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">info_outline</i>
                        </span>
                        <div class="form-group label-floating">
                            <label class="control-label">First Name</label>
                            <input formControlName="fname" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">info_outline</i>
                        </span>
                        <div class="form-group label-floating">
                            <label class="control-label">Last Name</label>
                            <input formControlName="lname" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-group label-floating">
                            <label class="control-label">Personal Email</label>
                            <input formControlName="hostPersonalEmail" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">info_outline</i>
                        </span>
                        <div class="form-group label-floating">
                            <label class="control-label">Longtitude</label>
                            <input formControlName="long" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">info_outline</i>
                        </span>
                        <div class="form-group label-floating">
                            <label class="control-label">Latitude</label>
                            <input formControlName="lat" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">info_outline</i>
                            </span>
                        <mat-form-field (change)="setToDirty()" style="width:100% !important;" ngClass="form-group label-floating">
                            <mat-select placeholder="language" formControlName="language">
                                <mat-option value="en">English (en)</mat-option>
                                <mat-option value="nl">Dutch (nl)</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="row">
                        <button (click)="onBack()" type="button" class="btn btn-default btn-block">Back</button>
                        <button (click)="onViewReport()" type="button" class="btn btn-info btn-block">View Reports</button>
                        <button (click)="onViewReporter()" type="button" class="btn btn-success btn-block">View Reporters</button>
                        <button *ngIf="hostData && !isSpecific" (click)="onSpecific()" type="button" class="btn btn-warning btn-block">Set To Specific</button>
                        <button *ngIf="hostData && isSpecific" (click)="onGeneral()" type="button" class="btn btn-warning btn-block">Set To General</button>
                        <button (click)="onDesign()" type="button" class="btn btn-warning btn-block">Edit Design</button>
                        <button (click)="onCategory()" type="button" class="btn btn-primary btn-block">Edit Category</button>
                        <button (click)="onUpdate()" type="button" class="btn btn-rose btn-block">Update Host</button>
                        <button *ngIf="!isActivated" (click)="activateHost()" type="button" class="btn btn-success btn-block">Activate Host</button>
                        <button *ngIf="isActivated" (click)="deactivateHost()" type="button" class="btn btn-info btn-block">Deactivate Host</button>
                        <button (click)="onDelete()" type="button" class="btn btn-danger btn-block">Delete Host</button>
                    </div>                    
                </div>
                <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>