<div class="main-content">
    <div class="container-fluid">
      <div>
        <div class="row">
          <div class="col-md-12" *appspinner="(reportSpinner | async)">
            <div class="card">
              <div class="card-header card-header-icon" data-background-color="blue">
                <i class="material-icons">assignment</i>
              </div>
              <div class="card-content">
                <h4 *ngIf="hostName" class="card-title">Host Reports page of [{{hostName}}]</h4>

                <div class="col-md-12">
                    <button (click)="onBack()" type="button" class="btn btn-default">Back to Host</button> 
                    <button (click)="onDownload()" type="button" class="btn btn-success">Download Data</button>                                                 
                </div>

                <app-table-basic
                  tableTitle=""
                  paginator="true"
                  itemPerPage="50"
                  [currentPage]="(page | async)"
                  [actionDelete]="false"
                  [actionMore]="false"
                  [actionEdit]="false"
                  [tableDataArray]="(reports)"
                  [tableHeaderName]="dataNames"
                  [tableHeaderAlias]="dataAliases"
                ></app-table-basic>
              </div>
              <!-- end content-->
            </div>
            <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
        </div>
      </div>
    </div>
  </div>
  