<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div *appspinner="(designSpinner | async) || (hostSpinner$ | async)" class="col-md-8">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="rose">
            <i class="material-icons">perm_identity</i>
          </div>
          <div *ngIf="designData" class="card-content">
              <h4 class="card-title">Edit Design - <small class="category">Change host design</small></h4>
              <div *appLoadingBar="(miscSpinner | async)"></div>
            <form [formGroup]="hostDesignForm">
                <div *ngIf="errorText" class="alert alert-danger" role="alert">
                    <strong>Error!</strong> {{errorText}}
                </div>
                <div *ngIf="successText" class="alert alert-success" role="alert">
                    <strong>Success!</strong> {{successText}}
                </div>

                <div class="col-md-12">
                    <div class="form-group label-floating">
                        <label class="control-label">Design Name</label>
                        <input formControlName="designName" type="text" class="form-control">
                    </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">    
                    <label class="control-label">Color One</label> 
                    <input formControlName="colorOne"
                            [value] ="hostDesignForm.value.colorOne"
                            [style.background]="hostDesignForm.value.colorOne"
                            [cpOutputFormat]="'hex'"
                            [cpOKButton]="true"
                            [cpOKButtonClass]= "'btn btn-primary btn-xs'"
                            [(colorPicker)]="hostDesignForm.value.colorOne"
                            (colorPickerChange)="onColorOneEvent($event)"
                            class="form-control" 
                            placeholder="Color 1" readonly/>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                      <label class="control-label">Color Two</label> 
                      <input formControlName="colorTwo"
                             [value] ="hostDesignForm.value.colorTwo"
                             [style.background]="hostDesignForm.value.colorTwo"
                             [cpOutputFormat]="'hex'"
                             [cpOKButton]="true"
                             [cpOKButtonClass]="'btn btn-primary btn-xs'"
                             [(colorPicker)]="hostDesignForm.value.colorTwo"
                             (colorPickerChange)="onColorTwoEvent($event)"
                             class="form-control" 
                             placeholder="Color 2" readonly/>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                      <label class="control-label">Color Three</label> 
                      <input formControlName="colorThree"
                             [value] ="hostDesignForm.value.colorThree"
                             [style.background]="hostDesignForm.value.colorThree"
                             [cpOutputFormat]="'hex'"
                             [cpOKButton]="true"
                             [cpOKButtonClass]="'btn btn-primary btn-xs'"
                             [(colorPicker)]="hostDesignForm.value.colorThree"
                             (colorPickerChange)="onColorThreeEvent($event)"
                             class="form-control" 
                             placeholder="Color 3" readonly/>
                  </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <img [src]="hostDesignForm.value._profilePicSecureUrl" class="img-rounded" alt="" style="width:50%">
                    </div>
                </div>

                <div class="col-md-12">
                    <button (click)="onBack()" type="button" class="btn btn-default pull-left">Back</button>
                    <button (click)="onUpdate()" type="button" class="btn btn-rose pull-left">Update Design</button>
                    <button (click)="onSetAsActive()" type="button" class="btn btn-info pull-left">Set As Active Design</button>
                    <app-fileUpload-basic
                     fileAlias="host-logo"
                     [URL]="uploadUrl"
                     (onErrorCallback)="onUploadError($event)"
                     (onSuccessCallback)="onUploadSuccess($event)"
                    ></app-fileUpload-basic>
                </div>
              
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>