<form *ngIf="!isLoading" [formGroup]="newTeamForm" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>Create New Team for HOST: {{ data.host.hostName }}</h2>
  <mat-dialog-content>
    <div *ngIf="warning" class="alert alert-warning">
      {{warning}}
    </div>
    <div class="form-group label-floating col-md-6">
      <label class="control-label" for="name">
        Team Name
        <span class="star">*</span>
      </label>
      <div class="form-group">
        <input formControlName="teamName" class="form-control" type="text" id="teamName" placeholder="Team Name">
      </div>
    </div>
    <div class="form-group label-floating col-md-6">
      <label class="control-label" for="dutch">Team Email
        <span class="star">*</span>
      </label>
      <div class="form-group">
        <input formControlName="teamEmail" class="form-control" type="email" id="teamEmail" placeholder="team@email.com">
      </div>
    </div>
    <!-- <div class="form-group label-floating col-md-12">
      <label class="control-label" for="name">Description
        <span class="star">*</span>
      </label>
      <div class="form-group">
        <input formControlName="description" class="form-control" type="text" id="description" placeholder="Description">
      </div>
    </div> -->
    <div class="form-group label-floating col-md-12">
      <label class="control-label" for="name">Team Picture
        <span class="star">*</span>
      </label>
      <div>
        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
          <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
          <div>
            <span class="btn btn-success btn-file">
              <span class="fileinput-new">File Upload</span>
              <span class="fileinput-exists">Change</span>
              <input type="file" id="photo" (change)="onFileChange($event)" #fileInput>
            </span>
            <!-- <button type="button" class="fileinput-exists btn btn-primary" (click)="clearFile()" >Clear File</button> -->
            <br />
            <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput" >
              <i class="fa fa-times"></i> Remove</a>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button type="button" mat-dialog-close>Cancel</button>
    <!-- Can optionally provide a result for the closing dialog. -->
    <button mat-button type="submit">Submit</button>
  </mat-dialog-actions>
</form>
<div *appLoadingBar="isLoading"></div>