<div class="main-content">
  <div class="container-fluid">
    <div>
      <div class="row">
        <div class="col-md-12" *appspinner="(designSpinner | async) || (hostSpinner$ | async)">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="blue">
              <i class="material-icons">assignment</i>
            </div>
            <div class="card-content">
                <h4 *ngIf="hostName" class="card-title">Design page of [{{hostName}}]</h4>

                <h5 *ngIf="(activeDesign$ | async)">Active Design: {{(activeDesign$ | async).designName}}</h5>

                <div class="col-md-12">
                    <button (click)="onBack()" type="button" class="btn btn-default">Back to Host</button>
                    <button (click)="onAdd()" type="button" class="btn btn-rose">Add Design</button>
                </div>

              <app-table-basic
                tableTitle=""
                paginator="true"
                itemPerPage="50"
                [currentPage]="(page | async)"
                [actionDelete]="true"
                [actionMore]="true"
                [actionSave]="true"
                [actionEdit]="false"
                [actionCheck]="false"
                [tableDataArray]="(designs)"
                [tableHeaderName]="dataNames"
                [tableHeaderAlias]="dataAliases"
                (clickMore)="onMoreClick($event)"
                (clickDelete)="onDeleteClick($event)"
                (clickSave)="onSelectClick($event)"
              ></app-table-basic>
            </div>
            <!-- end content-->
          </div>
          <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
      </div>
    </div>
  </div>
</div>
