<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div *appspinner="(reporterSpinner | async) || (teamSpinner | async)" class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons">perm_identity</i>
                    </div>
                    <div *ngIf="reporterData" class="card-content">
                        <h4 class="card-title">Reporter - <small class="category">Details</small></h4>

                        <form [formGroup]="reporterDetailForm">
                            <div *ngIf="errorText" class="alert alert-danger" role="alert">
                                <strong>Error!</strong> {{errorText}}
                            </div>
                            <div *ngIf="successText" class="alert alert-success" role="alert">
                                <strong>Success!</strong> {{successText}}
                            </div>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">info_outline</i>
                                    </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Volunteer</label>
                                        <input formControlName="isVolunteer" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">person_outline</i>
                                    </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">First Name</label>
                                        <input formControlName="fname" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">person_outline</i>
                                    </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Last Name</label>
                                        <input formControlName="lname" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">info_outline</i>
                                    </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Gender</label>
                                        <input formControlName="gender" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">info_outline</i>
                                    </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Street</label>
                                        <input formControlName="streetName" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">info_outline</i>
                                    </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Postal Code</label>
                                        <input formControlName="postalCode" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">info_outline</i>
                                    </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">City</label>
                                        <input formControlName="city" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">email</i>
                                    </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Email</label>
                                        <input formControlName="email" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">info_outline</i>
                                    </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Phone Number</label>
                                        <input formControlName="phoneNumber" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">info_outline</i>
                                    </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Chat Name</label>
                                        <input formControlName="chatName" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">info_outline</i>
                                    </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Host</label>
                                        <input formControlName="hostName" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">info_outline</i>
                                    </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Team Name</label>
                                        <input formControlName="activeTeamName" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">email</i>
                                    </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Team Email Address</label>
                                        <input formControlName="activeTeamEmail" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">info_outline</i>
                                    </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Status 1</label>
                                        <input formControlName="status1" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">info_outline</i>
                                    </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Status 2</label>
                                        <input formControlName="status2" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">info_outline</i>
                                    </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Date of registration new reporter</label>
                                        <input formControlName="dateRegistrationReporter" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">info_outline</i>
                                    </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Date of creation of new team</label>
                                        <input formControlName="dateCreationTeam" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="row">
                                    <button (click)="onBack()" type="button" class="btn btn-default btn-block">Back</button>
                                    <button (click)="onBlock()" type="button" class="btn btn-info btn-block">Block Reporter</button>
                                    <button (click)="onUnblock()" type="button" class="btn btn-success btn-block">Unblock Reporter</button>
                                    <button (click)="onTeamLeader()" type="button" class="btn btn-warning btn-block">As Team Leader</button>
                                    <button (click)="onTeamMember()" type="button" class="btn btn-primary btn-block">As Team Member</button>
                                    <button (click)="onTeam()" type="button" class="btn btn-rose btn-block">Team</button>
                                    <button *ngIf="pendingTeamId" (click)="onTeamPending()" type="button" class="btn btn-rose btn-block">Allow Team</button>
                                    <button (click)="onDelete()" type="button" class="btn btn-danger btn-block">Delete Reporter</button>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>