.update {
  border: gray solid;
  padding: 10px;
  text-align: center;
}

// .update-loading {
//   position: relative;
//   text-align: center;
//   padding-top: 40px;
//   padding-bottom: 40px;
// }

// .spin {
//   max-width: 75px;
//   max-height: 75px;
// }