<div class="main-content">
    <div class="container-fluid">
      <div>
        <div class="row">
          <div class="col-md-12" *appspinner="(reporterSpinner | async)">
            <div class="card">
              <div class="card-header card-header-icon" data-background-color="blue">
                <i class="material-icons">assignment</i>
              </div>
              <div class="card-content">
                  <div class="row">
                      <h4> Reporter page of [{{hostName}}]</h4>
                      <div class="col-md-12">
                          <div class="form-group">
                              <button (click)="onBack()" type="button" class="btn btn-default pull-left">Back to Host</button>
                          </div>
                      </div>
                  </div>

                <app-table-basic
                  tableTitle="Host Reporters"
                  paginator="true"
                  itemPerPage="5"
                  [currentPage]="(page | async)"
                  [actionDelete]="false"
                  [actionMore]="false"
                  [actionEdit]="false"
                  [tableDataArray]="(reporters)"
                  [tableHeaderName]="dataNames"
                  [tableHeaderAlias]="dataAliases"
                ></app-table-basic>
              </div>
              <!-- end content-->
            </div>
            <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
        </div>
      </div>
    </div>
  </div>
  