<div>
  <app-navbar-auth></app-navbar-auth>
  <section>
    <div class="col-md-4 col-md-offset-4">
      <!-- <p><a>Login</a> | <a href="#/auth/sign-up">Register</a></p> -->
      <form [formGroup]="loginForm">
        <h3>Login</h3>
        <div class="form-group">
          <p for="loginName">Username or Email</p>
          <input formControlName="loginName" type="text" class="form-control" id="loginName" placeholder="username or email">
        </div>
        <div class="form-group">
          <p for="password">Password
            <a>(forgot password?)</a>
          </p>
          <input formControlName="password" type="text" class="form-control" id="password" placeholder="Password">
        </div>
        <button class="btn btn-info" (click)="onSubmit()">Submit</button>
      </form>
    </div>
  </section>
  <div class="col-md-12">
    <app-footer-cmp></app-footer-cmp>
  </div>
</div>
